{% extends 'base.html' %}

{% block body %}

{% load static %}


<div class="container">
      <div class="row justify-content-center">
      <div class="col-8">
        <form action="/index">
            <div class="form-group">
                <h1>Forgot Password</h1>
                <label for="usr" >Username: </label>
                <input type="text" class="form-control" id="usr" name="username" maxlength="10" >
          
    
            <button type="submit" class="btn btn-primary">Check</button>
            
            </div>
        </form>
        </div>
        </div>
    </div>

{% endblock body %}